<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.FileOptionWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.fileid != null" >
         and fileid = #{example.fileid,jdbcType=VARCHAR}
      </if>
      <if test="example.fileidList != null  and  example.fileidList.size() > 0 " >
         and fileid in 
        <foreach collection="example.fileidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.isread != null" >
         and isread = #{example.isread,jdbcType=CHAR}
      </if>
      <if test="example.isreadList != null  and  example.isreadList.size() > 0 " >
         and isread in 
        <foreach collection="example.isreadList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workerid != null" >
         and workerid = #{example.workerid,jdbcType=VARCHAR}
      </if>
      <if test="example.workeridList != null  and  example.workeridList.size() > 0 " >
         and workerid in 
        <foreach collection="example.workeridList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workername != null" >
         and workername = #{example.workername,jdbcType=VARCHAR}
      </if>
      <if test="example.workernameList != null  and  example.workernameList.size() > 0 " >
         and workername in 
        <foreach collection="example.workernameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_file_option
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_file_option
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_file_option (dataid, fileid, isread, 
      workerid, workername)
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.fileid,jdbcType=VARCHAR}, #{record.isread,jdbcType=CHAR}, 
      #{record.workerid,jdbcType=VARCHAR}, #{record.workername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_file_option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.fileid != null" >
        fileid,
      </if>
      <if test="record.isread != null" >
        isread,
      </if>
      <if test="record.workerid != null" >
        workerid,
      </if>
      <if test="record.workername != null" >
        workername,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.fileid != null" >
        #{record.fileid,jdbcType=VARCHAR},
      </if>
      <if test="record.isread != null" >
        #{record.isread,jdbcType=CHAR},
      </if>
      <if test="record.workerid != null" >
        #{record.workerid,jdbcType=VARCHAR},
      </if>
      <if test="record.workername != null" >
        #{record.workername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_file_option
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.fileid != null" >
        fileid = #{record.fileid,jdbcType=VARCHAR},
      </if>
      <if test="record.isread != null" >
        isread = #{record.isread,jdbcType=CHAR},
      </if>
      <if test="record.workerid != null" >
        workerid = #{record.workerid,jdbcType=VARCHAR},
      </if>
      <if test="record.workername != null" >
        workername = #{record.workername,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_file_option
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      fileid = #{record.fileid,jdbcType=VARCHAR},
      isread = #{record.isread,jdbcType=CHAR},
      workerid = #{record.workerid,jdbcType=VARCHAR},
      workername = #{record.workername,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_file_option
    <set >
      <if test="record.fileid != null" >
        fileid = #{record.fileid,jdbcType=VARCHAR},
      </if>
      <if test="record.isread != null" >
        isread = #{record.isread,jdbcType=CHAR},
      </if>
      <if test="record.workerid != null" >
        workerid = #{record.workerid,jdbcType=VARCHAR},
      </if>
      <if test="record.workername != null" >
        workername = #{record.workername,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_file_option
    set fileid = #{record.fileid,jdbcType=VARCHAR},
      isread = #{record.isread,jdbcType=CHAR},
      workerid = #{record.workerid,jdbcType=VARCHAR},
      workername = #{record.workername,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>