<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.HrgPreSysPermissionWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.groupcode != null" >
         and groupcode = #{example.groupcode,jdbcType=VARCHAR}
      </if>
      <if test="example.groupcodeList != null  and  example.groupcodeList.size() > 0 " >
         and groupcode in 
        <foreach collection="example.groupcodeList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.groupname != null" >
         and groupname = #{example.groupname,jdbcType=VARCHAR}
      </if>
      <if test="example.groupnameList != null  and  example.groupnameList.size() > 0 " >
         and groupname in 
        <foreach collection="example.groupnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissioncode != null" >
         and permissioncode = #{example.permissioncode,jdbcType=VARCHAR}
      </if>
      <if test="example.permissioncodeList != null  and  example.permissioncodeList.size() > 0 " >
         and permissioncode in 
        <foreach collection="example.permissioncodeList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionname != null" >
         and permissionname = #{example.permissionname,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionnameList != null  and  example.permissionnameList.size() > 0 " >
         and permissionname in 
        <foreach collection="example.permissionnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionurl != null" >
         and permissionurl = #{example.permissionurl,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionurlList != null  and  example.permissionurlList.size() > 0 " >
         and permissionurl in 
        <foreach collection="example.permissionurlList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_pre_sys_permission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_pre_sys_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_pre_sys_permission (dataid, groupcode, 
      groupname, permissioncode, 
      permissionname, permissionurl
      )
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.groupcode,jdbcType=VARCHAR}, 
      #{record.groupname,jdbcType=VARCHAR}, #{record.permissioncode,jdbcType=VARCHAR}, 
      #{record.permissionname,jdbcType=VARCHAR}, #{record.permissionurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_pre_sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.groupcode != null" >
        groupcode,
      </if>
      <if test="record.groupname != null" >
        groupname,
      </if>
      <if test="record.permissioncode != null" >
        permissioncode,
      </if>
      <if test="record.permissionname != null" >
        permissionname,
      </if>
      <if test="record.permissionurl != null" >
        permissionurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.groupcode != null" >
        #{record.groupcode,jdbcType=VARCHAR},
      </if>
      <if test="record.groupname != null" >
        #{record.groupname,jdbcType=VARCHAR},
      </if>
      <if test="record.permissioncode != null" >
        #{record.permissioncode,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionname != null" >
        #{record.permissionname,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionurl != null" >
        #{record.permissionurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_pre_sys_permission
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.groupcode != null" >
        groupcode = #{record.groupcode,jdbcType=VARCHAR},
      </if>
      <if test="record.groupname != null" >
        groupname = #{record.groupname,jdbcType=VARCHAR},
      </if>
      <if test="record.permissioncode != null" >
        permissioncode = #{record.permissioncode,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionname != null" >
        permissionname = #{record.permissionname,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionurl != null" >
        permissionurl = #{record.permissionurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_pre_sys_permission
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      groupcode = #{record.groupcode,jdbcType=VARCHAR},
      groupname = #{record.groupname,jdbcType=VARCHAR},
      permissioncode = #{record.permissioncode,jdbcType=VARCHAR},
      permissionname = #{record.permissionname,jdbcType=VARCHAR},
      permissionurl = #{record.permissionurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_pre_sys_permission
    <set >
      <if test="record.groupcode != null" >
        groupcode = #{record.groupcode,jdbcType=VARCHAR},
      </if>
      <if test="record.groupname != null" >
        groupname = #{record.groupname,jdbcType=VARCHAR},
      </if>
      <if test="record.permissioncode != null" >
        permissioncode = #{record.permissioncode,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionname != null" >
        permissionname = #{record.permissionname,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionurl != null" >
        permissionurl = #{record.permissionurl,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_pre_sys_permission
    set groupcode = #{record.groupcode,jdbcType=VARCHAR},
      groupname = #{record.groupname,jdbcType=VARCHAR},
      permissioncode = #{record.permissioncode,jdbcType=VARCHAR},
      permissionname = #{record.permissionname,jdbcType=VARCHAR},
      permissionurl = #{record.permissionurl,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>