<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.HrgPreSysRoleRelPermissionWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.parentroledataid != null" >
         and parentroledataid = #{example.parentroledataid,jdbcType=VARCHAR}
      </if>
      <if test="example.parentroledataidList != null  and  example.parentroledataidList.size() > 0 " >
         and parentroledataid in 
        <foreach collection="example.parentroledataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.roledataid != null" >
         and roledataid = #{example.roledataid,jdbcType=VARCHAR}
      </if>
      <if test="example.roledataidList != null  and  example.roledataidList.size() > 0 " >
         and roledataid in 
        <foreach collection="example.roledataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.rolename != null" >
         and rolename = #{example.rolename,jdbcType=VARCHAR}
      </if>
      <if test="example.rolenameList != null  and  example.rolenameList.size() > 0 " >
         and rolename in 
        <foreach collection="example.rolenameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissiondataid != null" >
         and permissiondataid = #{example.permissiondataid,jdbcType=VARCHAR}
      </if>
      <if test="example.permissiondataidList != null  and  example.permissiondataidList.size() > 0 " >
         and permissiondataid in 
        <foreach collection="example.permissiondataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissioncode != null" >
         and permissioncode = #{example.permissioncode,jdbcType=VARCHAR}
      </if>
      <if test="example.permissioncodeList != null  and  example.permissioncodeList.size() > 0 " >
         and permissioncode in 
        <foreach collection="example.permissioncodeList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_pre_sys_role_rel_permission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_pre_sys_role_rel_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_pre_sys_role_rel_permission (dataid, parentroledataid, 
      roledataid, rolename, permissiondataid, 
      permissioncode)
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.parentroledataid,jdbcType=VARCHAR}, 
      #{record.roledataid,jdbcType=VARCHAR}, #{record.rolename,jdbcType=VARCHAR}, #{record.permissiondataid,jdbcType=VARCHAR}, 
      #{record.permissioncode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_pre_sys_role_rel_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.parentroledataid != null" >
        parentroledataid,
      </if>
      <if test="record.roledataid != null" >
        roledataid,
      </if>
      <if test="record.rolename != null" >
        rolename,
      </if>
      <if test="record.permissiondataid != null" >
        permissiondataid,
      </if>
      <if test="record.permissioncode != null" >
        permissioncode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.parentroledataid != null" >
        #{record.parentroledataid,jdbcType=VARCHAR},
      </if>
      <if test="record.roledataid != null" >
        #{record.roledataid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.permissiondataid != null" >
        #{record.permissiondataid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissioncode != null" >
        #{record.permissioncode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_pre_sys_role_rel_permission
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.parentroledataid != null" >
        parentroledataid = #{record.parentroledataid,jdbcType=VARCHAR},
      </if>
      <if test="record.roledataid != null" >
        roledataid = #{record.roledataid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        rolename = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.permissiondataid != null" >
        permissiondataid = #{record.permissiondataid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissioncode != null" >
        permissioncode = #{record.permissioncode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_pre_sys_role_rel_permission
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      parentroledataid = #{record.parentroledataid,jdbcType=VARCHAR},
      roledataid = #{record.roledataid,jdbcType=VARCHAR},
      rolename = #{record.rolename,jdbcType=VARCHAR},
      permissiondataid = #{record.permissiondataid,jdbcType=VARCHAR},
      permissioncode = #{record.permissioncode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_pre_sys_role_rel_permission
    <set >
      <if test="record.parentroledataid != null" >
        parentroledataid = #{record.parentroledataid,jdbcType=VARCHAR},
      </if>
      <if test="record.roledataid != null" >
        roledataid = #{record.roledataid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        rolename = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.permissiondataid != null" >
        permissiondataid = #{record.permissiondataid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissioncode != null" >
        permissioncode = #{record.permissioncode,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_pre_sys_role_rel_permission
    set parentroledataid = #{record.parentroledataid,jdbcType=VARCHAR},
      roledataid = #{record.roledataid,jdbcType=VARCHAR},
      rolename = #{record.rolename,jdbcType=VARCHAR},
      permissiondataid = #{record.permissiondataid,jdbcType=VARCHAR},
      permissioncode = #{record.permissioncode,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>