<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.HrgWorkerRoleWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workerdataid != null" >
         and workerdataid = #{example.workerdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.workerdataidList != null  and  example.workerdataidList.size() > 0 " >
         and workerdataid in 
        <foreach collection="example.workerdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.preroleid != null" >
         and preroleid = #{example.preroleid,jdbcType=VARCHAR}
      </if>
      <if test="example.preroleidList != null  and  example.preroleidList.size() > 0 " >
         and preroleid in 
        <foreach collection="example.preroleidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.parentroleid != null" >
         and parentroleid = #{example.parentroleid,jdbcType=VARCHAR}
      </if>
      <if test="example.parentroleidList != null  and  example.parentroleidList.size() > 0 " >
         and parentroleid in 
        <foreach collection="example.parentroleidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.rolename != null" >
         and rolename = #{example.rolename,jdbcType=VARCHAR}
      </if>
      <if test="example.rolenameList != null  and  example.rolenameList.size() > 0 " >
         and rolename in 
        <foreach collection="example.rolenameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_worker_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_worker_role (dataid, workerdataid, 
      preroleid, parentroleid, 
      rolename)
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.workerdataid,jdbcType=VARCHAR}, 
      #{record.preroleid,jdbcType=VARCHAR}, #{record.parentroleid,jdbcType=VARCHAR}, 
      #{record.rolename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_worker_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.workerdataid != null" >
        workerdataid,
      </if>
      <if test="record.preroleid != null" >
        preroleid,
      </if>
      <if test="record.parentroleid != null" >
        parentroleid,
      </if>
      <if test="record.rolename != null" >
        rolename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workerdataid != null" >
        #{record.workerdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.preroleid != null" >
        #{record.preroleid,jdbcType=VARCHAR},
      </if>
      <if test="record.parentroleid != null" >
        #{record.parentroleid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        #{record.rolename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_worker_role
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workerdataid != null" >
        workerdataid = #{record.workerdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.preroleid != null" >
        preroleid = #{record.preroleid,jdbcType=VARCHAR},
      </if>
      <if test="record.parentroleid != null" >
        parentroleid = #{record.parentroleid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        rolename = #{record.rolename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_worker_role
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      workerdataid = #{record.workerdataid,jdbcType=VARCHAR},
      preroleid = #{record.preroleid,jdbcType=VARCHAR},
      parentroleid = #{record.parentroleid,jdbcType=VARCHAR},
      rolename = #{record.rolename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
</mapper>