<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.HrgWorkerRelProjectWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workerdataid != null" >
         and workerdataid = #{example.workerdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.workerdataidList != null  and  example.workerdataidList.size() > 0 " >
         and workerdataid in 
        <foreach collection="example.workerdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workername != null" >
         and workername = #{example.workername,jdbcType=VARCHAR}
      </if>
      <if test="example.workernameList != null  and  example.workernameList.size() > 0 " >
         and workername in 
        <foreach collection="example.workernameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.projectdataid != null" >
         and projectdataid = #{example.projectdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.projectdataidList != null  and  example.projectdataidList.size() > 0 " >
         and projectdataid in 
        <foreach collection="example.projectdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.projectname != null" >
         and projectname = #{example.projectname,jdbcType=VARCHAR}
      </if>
      <if test="example.projectnameList != null  and  example.projectnameList.size() > 0 " >
         and projectname in 
        <foreach collection="example.projectnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_worker_rel_project
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_worker_rel_project
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_worker_rel_project (dataid, workerdataid, 
      workername, projectdataid, 
      projectname)
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.workerdataid,jdbcType=VARCHAR}, 
      #{record.workername,jdbcType=VARCHAR}, #{record.projectdataid,jdbcType=VARCHAR}, 
      #{record.projectname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_worker_rel_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.workerdataid != null" >
        workerdataid,
      </if>
      <if test="record.workername != null" >
        workername,
      </if>
      <if test="record.projectdataid != null" >
        projectdataid,
      </if>
      <if test="record.projectname != null" >
        projectname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workerdataid != null" >
        #{record.workerdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workername != null" >
        #{record.workername,jdbcType=VARCHAR},
      </if>
      <if test="record.projectdataid != null" >
        #{record.projectdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.projectname != null" >
        #{record.projectname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_worker_rel_project
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workerdataid != null" >
        workerdataid = #{record.workerdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workername != null" >
        workername = #{record.workername,jdbcType=VARCHAR},
      </if>
      <if test="record.projectdataid != null" >
        projectdataid = #{record.projectdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.projectname != null" >
        projectname = #{record.projectname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_worker_rel_project
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      workerdataid = #{record.workerdataid,jdbcType=VARCHAR},
      workername = #{record.workername,jdbcType=VARCHAR},
      projectdataid = #{record.projectdataid,jdbcType=VARCHAR},
      projectname = #{record.projectname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_worker_rel_project
    <set >
      <if test="record.workerdataid != null" >
        workerdataid = #{record.workerdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.workername != null" >
        workername = #{record.workername,jdbcType=VARCHAR},
      </if>
      <if test="record.projectdataid != null" >
        projectdataid = #{record.projectdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.projectname != null" >
        projectname = #{record.projectname,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_worker_rel_project
    set workerdataid = #{record.workerdataid,jdbcType=VARCHAR},
      workername = #{record.workername,jdbcType=VARCHAR},
      projectdataid = #{record.projectdataid,jdbcType=VARCHAR},
      projectname = #{record.projectname,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>