<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.ModuleRelPermissionWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.moduleid != null" >
         and moduleid = #{example.moduleid,jdbcType=VARCHAR}
      </if>
      <if test="example.moduleidList != null  and  example.moduleidList.size() > 0 " >
         and moduleid in 
        <foreach collection="example.moduleidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionid != null" >
         and permissionid = #{example.permissionid,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionidList != null  and  example.permissionidList.size() > 0 " >
         and permissionid in 
        <foreach collection="example.permissionidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.options != null" >
         and options = #{example.options,jdbcType=VARCHAR}
      </if>
      <if test="example.optionsList != null  and  example.optionsList.size() > 0 " >
         and options in 
        <foreach collection="example.optionsList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_module_rel_permission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_module_rel_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_module_rel_permission (dataid, moduleid, permissionid, 
      options)
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.moduleid,jdbcType=VARCHAR}, #{record.permissionid,jdbcType=VARCHAR}, 
      #{record.options,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_module_rel_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.moduleid != null" >
        moduleid,
      </if>
      <if test="record.permissionid != null" >
        permissionid,
      </if>
      <if test="record.options != null" >
        options,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleid != null" >
        #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null" >
        #{record.permissionid,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        #{record.options,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_module_rel_permission
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleid != null" >
        moduleid = #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null" >
        permissionid = #{record.permissionid,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        options = #{record.options,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_module_rel_permission
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      moduleid = #{record.moduleid,jdbcType=VARCHAR},
      permissionid = #{record.permissionid,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_module_rel_permission
    <set >
      <if test="record.moduleid != null" >
        moduleid = #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null" >
        permissionid = #{record.permissionid,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        options = #{record.options,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_module_rel_permission
    set moduleid = #{record.moduleid,jdbcType=VARCHAR},
      permissionid = #{record.permissionid,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>