<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.PermissionWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionname != null" >
         and permissionname = #{example.permissionname,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionnameList != null  and  example.permissionnameList.size() > 0 " >
         and permissionname in 
        <foreach collection="example.permissionnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_permission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_permission (dataid, permissionname
      )
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.permissionname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.permissionname != null" >
        permissionname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionname != null" >
        #{record.permissionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_permission
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionname != null" >
        permissionname = #{record.permissionname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_permission
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      permissionname = #{record.permissionname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_permission
    <set >
      <if test="record.permissionname != null" >
        permissionname = #{record.permissionname,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_permission
    set permissionname = #{record.permissionname,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>