<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.WorkdataChatWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=INTEGER}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.chatid != null" >
         and chatid = #{example.chatid,jdbcType=VARCHAR}
      </if>
      <if test="example.chatidList != null  and  example.chatidList.size() > 0 " >
         and chatid in 
        <foreach collection="example.chatidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.chatname != null" >
         and chatname = #{example.chatname,jdbcType=VARCHAR}
      </if>
      <if test="example.chatnameList != null  and  example.chatnameList.size() > 0 " >
         and chatname in 
        <foreach collection="example.chatnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.context != null" >
         and context = #{example.context,jdbcType=VARCHAR}
      </if>
      <if test="example.contextList != null  and  example.contextList.size() > 0 " >
         and context in 
        <foreach collection="example.contextList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workdataid != null" >
         and workdataid = #{example.workdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.workdataidList != null  and  example.workdataidList.size() > 0 " >
         and workdataid in 
        <foreach collection="example.workdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.isread != null" >
         and isread = #{example.isread,jdbcType=CHAR}
      </if>
      <if test="example.isreadList != null  and  example.isreadList.size() > 0 " >
         and isread in 
        <foreach collection="example.isreadList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_workdata_chat
    where dataid = #{dataid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_workdata_chat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_workdata_chat (dataid, chatid, chatname, 
      context, workdataid, isread
      )
    values (#{record.dataid,jdbcType=INTEGER}, #{record.chatid,jdbcType=VARCHAR}, #{record.chatname,jdbcType=VARCHAR}, 
      #{record.context,jdbcType=VARCHAR}, #{record.workdataid,jdbcType=VARCHAR}, #{record.isread,jdbcType=CHAR}
      )
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="record.dataid" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_workdata_chat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.chatid != null" >
        chatid,
      </if>
      <if test="record.chatname != null" >
        chatname,
      </if>
      <if test="record.context != null" >
        context,
      </if>
      <if test="record.workdataid != null" >
        workdataid,
      </if>
      <if test="record.isread != null" >
        isread,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=INTEGER},
      </if>
      <if test="record.chatid != null" >
        #{record.chatid,jdbcType=VARCHAR},
      </if>
      <if test="record.chatname != null" >
        #{record.chatname,jdbcType=VARCHAR},
      </if>
      <if test="record.context != null" >
        #{record.context,jdbcType=VARCHAR},
      </if>
      <if test="record.workdataid != null" >
        #{record.workdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.isread != null" >
        #{record.isread,jdbcType=CHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="record.dataid" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_workdata_chat
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=INTEGER},
      </if>
      <if test="record.chatid != null" >
        chatid = #{record.chatid,jdbcType=VARCHAR},
      </if>
      <if test="record.chatname != null" >
        chatname = #{record.chatname,jdbcType=VARCHAR},
      </if>
      <if test="record.context != null" >
        context = #{record.context,jdbcType=VARCHAR},
      </if>
      <if test="record.workdataid != null" >
        workdataid = #{record.workdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.isread != null" >
        isread = #{record.isread,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_workdata_chat
    set dataid = #{record.dataid,jdbcType=INTEGER},
      chatid = #{record.chatid,jdbcType=VARCHAR},
      chatname = #{record.chatname,jdbcType=VARCHAR},
      context = #{record.context,jdbcType=VARCHAR},
      workdataid = #{record.workdataid,jdbcType=VARCHAR},
      isread = #{record.isread,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_workdata_chat
    <set >
      <if test="record.chatid != null" >
        chatid = #{record.chatid,jdbcType=VARCHAR},
      </if>
      <if test="record.chatname != null" >
        chatname = #{record.chatname,jdbcType=VARCHAR},
      </if>
      <if test="record.context != null" >
        context = #{record.context,jdbcType=VARCHAR},
      </if>
      <if test="record.workdataid != null" >
        workdataid = #{record.workdataid,jdbcType=VARCHAR},
      </if>
      <if test="record.isread != null" >
        isread = #{record.isread,jdbcType=CHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_workdata_chat
    set chatid = #{record.chatid,jdbcType=VARCHAR},
      chatname = #{record.chatname,jdbcType=VARCHAR},
      context = #{record.context,jdbcType=VARCHAR},
      workdataid = #{record.workdataid,jdbcType=VARCHAR},
      isread = #{record.isread,jdbcType=CHAR}
    where dataid = #{record.dataid,jdbcType=INTEGER}
  </update>
</mapper>