<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.write.WorkerRolePermissionWriteMapper" >
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.roleid != null" >
         and roleid = #{example.roleid,jdbcType=VARCHAR}
      </if>
      <if test="example.roleidList != null  and  example.roleidList.size() > 0 " >
         and roleid in 
        <foreach collection="example.roleidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionid != null" >
         and permissionid = #{example.permissionid,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionidList != null  and  example.permissionidList.size() > 0 " >
         and permissionid in 
        <foreach collection="example.permissionidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.moduleurl != null" >
         and moduleurl = #{example.moduleurl,jdbcType=VARCHAR}
      </if>
      <if test="example.moduleurlList != null  and  example.moduleurlList.size() > 0 " >
         and moduleurl in 
        <foreach collection="example.moduleurlList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.options != null" >
         and options = #{example.options,jdbcType=VARCHAR}
      </if>
      <if test="example.optionsList != null  and  example.optionsList.size() > 0 " >
         and options in 
        <foreach collection="example.optionsList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.modulename != null" >
         and modulename = #{example.modulename,jdbcType=VARCHAR}
      </if>
      <if test="example.modulenameList != null  and  example.modulenameList.size() > 0 " >
         and modulename in 
        <foreach collection="example.modulenameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.modulepid != null" >
         and modulepid = #{example.modulepid,jdbcType=VARCHAR}
      </if>
      <if test="example.modulepidList != null  and  example.modulepidList.size() > 0 " >
         and modulepid in 
        <foreach collection="example.modulepidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from hrg_worker_role_permission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="map" >
    delete from hrg_worker_role_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into hrg_worker_role_permission (dataid, roleid, permissionid, 
      moduleurl, options, modulename, 
      modulepid)
    values (#{record.dataid,jdbcType=VARCHAR}, #{record.roleid,jdbcType=VARCHAR}, #{record.permissionid,jdbcType=VARCHAR}, 
      #{record.moduleurl,jdbcType=VARCHAR}, #{record.options,jdbcType=VARCHAR}, #{record.modulename,jdbcType=VARCHAR}, 
      #{record.modulepid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map" >
    insert into hrg_worker_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        dataid,
      </if>
      <if test="record.roleid != null" >
        roleid,
      </if>
      <if test="record.permissionid != null" >
        permissionid,
      </if>
      <if test="record.moduleurl != null" >
        moduleurl,
      </if>
      <if test="record.options != null" >
        options,
      </if>
      <if test="record.modulename != null" >
        modulename,
      </if>
      <if test="record.modulepid != null" >
        modulepid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.dataid != null" >
        #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null" >
        #{record.permissionid,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleurl != null" >
        #{record.moduleurl,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        #{record.options,jdbcType=VARCHAR},
      </if>
      <if test="record.modulename != null" >
        #{record.modulename,jdbcType=VARCHAR},
      </if>
      <if test="record.modulepid != null" >
        #{record.modulepid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update hrg_worker_role_permission
    <set >
      <if test="record.dataid != null" >
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null" >
        permissionid = #{record.permissionid,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleurl != null" >
        moduleurl = #{record.moduleurl,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        options = #{record.options,jdbcType=VARCHAR},
      </if>
      <if test="record.modulename != null" >
        modulename = #{record.modulename,jdbcType=VARCHAR},
      </if>
      <if test="record.modulepid != null" >
        modulepid = #{record.modulepid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hrg_worker_role_permission
    set dataid = #{record.dataid,jdbcType=VARCHAR},
      roleid = #{record.roleid,jdbcType=VARCHAR},
      permissionid = #{record.permissionid,jdbcType=VARCHAR},
      moduleurl = #{record.moduleurl,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR},
      modulename = #{record.modulename,jdbcType=VARCHAR},
      modulepid = #{record.modulepid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map" >
    update hrg_worker_role_permission
    <set >
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionid != null" >
        permissionid = #{record.permissionid,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleurl != null" >
        moduleurl = #{record.moduleurl,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        options = #{record.options,jdbcType=VARCHAR},
      </if>
      <if test="record.modulename != null" >
        modulename = #{record.modulename,jdbcType=VARCHAR},
      </if>
      <if test="record.modulepid != null" >
        modulepid = #{record.modulepid,jdbcType=VARCHAR},
      </if>
    </set>
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update hrg_worker_role_permission
    set roleid = #{record.roleid,jdbcType=VARCHAR},
      permissionid = #{record.permissionid,jdbcType=VARCHAR},
      moduleurl = #{record.moduleurl,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR},
      modulename = #{record.modulename,jdbcType=VARCHAR},
      modulepid = #{record.modulepid,jdbcType=VARCHAR}
    where dataid = #{record.dataid,jdbcType=VARCHAR}
  </update>
</mapper>