<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.read.HrgWorkdataReadMapper" >
  <resultMap id="BaseResultMap" type="com.hrg.model.HrgWorkdata" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="projectdataid" property="projectdataid" jdbcType="VARCHAR" />
    <result column="projectname" property="projectname" jdbcType="VARCHAR" />
    <result column="missiondataid" property="missiondataid" jdbcType="VARCHAR" />
    <result column="missionname" property="missionname" jdbcType="VARCHAR" />
    <result column="workcontext" property="workcontext" jdbcType="VARCHAR" />
    <result column="workerdataid" property="workerdataid" jdbcType="VARCHAR" />
    <result column="workername" property="workername" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="projectleader" property="projectleader" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="HashMapBaseResultMap" type="hashmap" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="projectdataid" property="projectdataid" jdbcType="VARCHAR" />
    <result column="projectname" property="projectname" jdbcType="VARCHAR" />
    <result column="missiondataid" property="missiondataid" jdbcType="VARCHAR" />
    <result column="missionname" property="missionname" jdbcType="VARCHAR" />
    <result column="workcontext" property="workcontext" jdbcType="VARCHAR" />
    <result column="workerdataid" property="workerdataid" jdbcType="VARCHAR" />
    <result column="workername" property="workername" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="projectleader" property="projectleader" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.projectdataid != null" >
         and projectdataid = #{example.projectdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.projectdataidList != null  and  example.projectdataidList.size() > 0 " >
         and projectdataid in 
        <foreach collection="example.projectdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.projectname != null" >
         and projectname = #{example.projectname,jdbcType=VARCHAR}
      </if>
      <if test="example.projectnameList != null  and  example.projectnameList.size() > 0 " >
         and projectname in 
        <foreach collection="example.projectnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.missiondataid != null" >
         and missiondataid = #{example.missiondataid,jdbcType=VARCHAR}
      </if>
      <if test="example.missiondataidList != null  and  example.missiondataidList.size() > 0 " >
         and missiondataid in 
        <foreach collection="example.missiondataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.missionname != null" >
         and missionname = #{example.missionname,jdbcType=VARCHAR}
      </if>
      <if test="example.missionnameList != null  and  example.missionnameList.size() > 0 " >
         and missionname in 
        <foreach collection="example.missionnameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workcontext != null" >
         and workcontext = #{example.workcontext,jdbcType=VARCHAR}
      </if>
      <if test="example.workcontextList != null  and  example.workcontextList.size() > 0 " >
         and workcontext in 
        <foreach collection="example.workcontextList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workerdataid != null" >
         and workerdataid = #{example.workerdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.workerdataidList != null  and  example.workerdataidList.size() > 0 " >
         and workerdataid in 
        <foreach collection="example.workerdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workername != null" >
         and workername = #{example.workername,jdbcType=VARCHAR}
      </if>
      <if test="example.workernameList != null  and  example.workernameList.size() > 0 " >
         and workername in 
        <foreach collection="example.workernameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.time != null" >
         and time = #{example.time,jdbcType=TIMESTAMP}
      </if>
      <if test="example.projectleader != null" >
         and projectleader = #{example.projectleader,jdbcType=VARCHAR}
      </if>
      <if test="example.projectleaderList != null  and  example.projectleaderList.size() > 0 " >
         and projectleader in 
        <foreach collection="example.projectleaderList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dataid, projectdataid, projectname, missiondataid, missionname, workcontext, workerdataid, 
    workername, time, projectleader
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_workdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from hrg_workdata
    where dataid = #{dataid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from hrg_workdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_workdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByPrimaryKey" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hrg_workdata
    <where >
       and dataid=#{dataid,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectMapByExampleForOne" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_workdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByExample" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_workdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
</mapper>