<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.read.MissionReadMapper" >
  <resultMap id="BaseResultMap" type="com.hrg.model.Mission" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="prodataid" property="prodataid" jdbcType="VARCHAR" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="percentage" property="percentage" jdbcType="VARCHAR" />
    <result column="proportion" property="proportion" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creatordataid" property="creatordataid" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modify" property="modify" jdbcType="VARCHAR" />
    <result column="modifydataid" property="modifydataid" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="headerid" property="headerid" jdbcType="VARCHAR" />
    <result column="headername" property="headername" jdbcType="VARCHAR" />
    <result column="auditorid" property="auditorid" jdbcType="VARCHAR" />
    <result column="auditorname" property="auditorname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="HashMapBaseResultMap" type="hashmap" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="finishtime" property="finishtime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="prodataid" property="prodataid" jdbcType="VARCHAR" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="percentage" property="percentage" jdbcType="VARCHAR" />
    <result column="proportion" property="proportion" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creatordataid" property="creatordataid" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modify" property="modify" jdbcType="VARCHAR" />
    <result column="modifydataid" property="modifydataid" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="headerid" property="headerid" jdbcType="VARCHAR" />
    <result column="headername" property="headername" jdbcType="VARCHAR" />
    <result column="auditorid" property="auditorid" jdbcType="VARCHAR" />
    <result column="auditorname" property="auditorname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.name != null" >
         and name = #{example.name,jdbcType=VARCHAR}
      </if>
      <if test="example.nameList != null  and  example.nameList.size() > 0 " >
         and name in 
        <foreach collection="example.nameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.context != null" >
         and context = #{example.context,jdbcType=VARCHAR}
      </if>
      <if test="example.contextList != null  and  example.contextList.size() > 0 " >
         and context in 
        <foreach collection="example.contextList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.starttime != null" >
         and starttime = #{example.starttime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.endtime != null" >
         and endtime = #{example.endtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.finishtime != null" >
         and finishtime = #{example.finishtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.state != null" >
         and state = #{example.state,jdbcType=CHAR}
      </if>
      <if test="example.stateList != null  and  example.stateList.size() > 0 " >
         and state in 
        <foreach collection="example.stateList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.prodataid != null" >
         and prodataid = #{example.prodataid,jdbcType=VARCHAR}
      </if>
      <if test="example.prodataidList != null  and  example.prodataidList.size() > 0 " >
         and prodataid in 
        <foreach collection="example.prodataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.proname != null" >
         and proname = #{example.proname,jdbcType=VARCHAR}
      </if>
      <if test="example.pronameList != null  and  example.pronameList.size() > 0 " >
         and proname in 
        <foreach collection="example.pronameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.remark != null" >
         and remark = #{example.remark,jdbcType=VARCHAR}
      </if>
      <if test="example.remarkList != null  and  example.remarkList.size() > 0 " >
         and remark in 
        <foreach collection="example.remarkList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.percentage != null" >
         and percentage = #{example.percentage,jdbcType=VARCHAR}
      </if>
      <if test="example.percentageList != null  and  example.percentageList.size() > 0 " >
         and percentage in 
        <foreach collection="example.percentageList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.proportion != null" >
         and proportion = #{example.proportion,jdbcType=VARCHAR}
      </if>
      <if test="example.proportionList != null  and  example.proportionList.size() > 0 " >
         and proportion in 
        <foreach collection="example.proportionList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.creator != null" >
         and creator = #{example.creator,jdbcType=VARCHAR}
      </if>
      <if test="example.creatorList != null  and  example.creatorList.size() > 0 " >
         and creator in 
        <foreach collection="example.creatorList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.creatordataid != null" >
         and creatordataid = #{example.creatordataid,jdbcType=VARCHAR}
      </if>
      <if test="example.creatordataidList != null  and  example.creatordataidList.size() > 0 " >
         and creatordataid in 
        <foreach collection="example.creatordataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.createtime != null" >
         and createtime = #{example.createtime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.modify != null" >
         and modify = #{example.modify,jdbcType=VARCHAR}
      </if>
      <if test="example.modifyList != null  and  example.modifyList.size() > 0 " >
         and modify in 
        <foreach collection="example.modifyList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.modifydataid != null" >
         and modifydataid = #{example.modifydataid,jdbcType=VARCHAR}
      </if>
      <if test="example.modifydataidList != null  and  example.modifydataidList.size() > 0 " >
         and modifydataid in 
        <foreach collection="example.modifydataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.modifytime != null" >
         and modifytime = #{example.modifytime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.type != null" >
         and type = #{example.type,jdbcType=CHAR}
      </if>
      <if test="example.typeList != null  and  example.typeList.size() > 0 " >
         and type in 
        <foreach collection="example.typeList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.headerid != null" >
         and headerid = #{example.headerid,jdbcType=VARCHAR}
      </if>
      <if test="example.headeridList != null  and  example.headeridList.size() > 0 " >
         and headerid in 
        <foreach collection="example.headeridList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.headername != null" >
         and headername = #{example.headername,jdbcType=VARCHAR}
      </if>
      <if test="example.headernameList != null  and  example.headernameList.size() > 0 " >
         and headername in 
        <foreach collection="example.headernameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.auditorid != null" >
         and auditorid = #{example.auditorid,jdbcType=VARCHAR}
      </if>
      <if test="example.auditoridList != null  and  example.auditoridList.size() > 0 " >
         and auditorid in 
        <foreach collection="example.auditoridList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.auditorname != null" >
         and auditorname = #{example.auditorname,jdbcType=VARCHAR}
      </if>
      <if test="example.auditornameList != null  and  example.auditornameList.size() > 0 " >
         and auditorname in 
        <foreach collection="example.auditornameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.level != null" >
         and level = #{example.level,jdbcType=CHAR}
      </if>
      <if test="example.levelList != null  and  example.levelList.size() > 0 " >
         and level in 
        <foreach collection="example.levelList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dataid, name, context, starttime, endtime, finishtime, state, prodataid, proname, 
    remark, percentage, proportion, creator, creatordataid, createtime, modify, modifydataid, 
    modifytime, type, headerid, headername, auditorid, auditorname, level
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by #{example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from hrg_mission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from hrg_mission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by #{example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByPrimaryKey" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hrg_mission
    <where >
       and dataid=#{dataid,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectMapByExampleForOne" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by #{example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByExample" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by #{example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
</mapper>