<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.read.MissionFileReadMapper" >
  <resultMap id="BaseResultMap" type="com.hrg.model.MissionFile" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="nameold" property="nameold" jdbcType="VARCHAR" />
    <result column="namenew" property="namenew" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="missionid" property="missionid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="HashMapBaseResultMap" type="hashmap" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="nameold" property="nameold" jdbcType="VARCHAR" />
    <result column="namenew" property="namenew" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="missionid" property="missionid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.nameold != null" >
         and nameold = #{example.nameold,jdbcType=VARCHAR}
      </if>
      <if test="example.nameoldList != null  and  example.nameoldList.size() > 0 " >
         and nameold in 
        <foreach collection="example.nameoldList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.namenew != null" >
         and namenew = #{example.namenew,jdbcType=VARCHAR}
      </if>
      <if test="example.namenewList != null  and  example.namenewList.size() > 0 " >
         and namenew in 
        <foreach collection="example.namenewList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.path != null" >
         and path = #{example.path,jdbcType=VARCHAR}
      </if>
      <if test="example.pathList != null  and  example.pathList.size() > 0 " >
         and path in 
        <foreach collection="example.pathList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.missionid != null" >
         and missionid = #{example.missionid,jdbcType=VARCHAR}
      </if>
      <if test="example.missionidList != null  and  example.missionidList.size() > 0 " >
         and missionid in 
        <foreach collection="example.missionidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dataid, nameold, namenew, path, missionid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from hrg_mission_file
    where dataid = #{dataid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from hrg_mission_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByPrimaryKey" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hrg_mission_file
    <where >
       and dataid=#{dataid,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectMapByExampleForOne" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByExample" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_mission_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
</mapper>