<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.read.NoticeRelWorkerReadMapper" >
  <resultMap id="BaseResultMap" type="com.hrg.model.NoticeRelWorker" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="noticeid" property="noticeid" jdbcType="VARCHAR" />
    <result column="workerid" property="workerid" jdbcType="VARCHAR" />
    <result column="isread" property="isread" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="HashMapBaseResultMap" type="hashmap" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="noticeid" property="noticeid" jdbcType="VARCHAR" />
    <result column="workerid" property="workerid" jdbcType="VARCHAR" />
    <result column="isread" property="isread" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.noticeid != null" >
         and noticeid = #{example.noticeid,jdbcType=VARCHAR}
      </if>
      <if test="example.noticeidList != null  and  example.noticeidList.size() > 0 " >
         and noticeid in 
        <foreach collection="example.noticeidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.workerid != null" >
         and workerid = #{example.workerid,jdbcType=VARCHAR}
      </if>
      <if test="example.workeridList != null  and  example.workeridList.size() > 0 " >
         and workerid in 
        <foreach collection="example.workeridList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.isread != null" >
         and isread = #{example.isread,jdbcType=CHAR}
      </if>
      <if test="example.isreadList != null  and  example.isreadList.size() > 0 " >
         and isread in 
        <foreach collection="example.isreadList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dataid, noticeid, workerid, isread
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_notice_rel_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from hrg_notice_rel_worker
    where dataid = #{dataid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from hrg_notice_rel_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_notice_rel_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByPrimaryKey" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hrg_notice_rel_worker
    <where >
       and dataid=#{dataid,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectMapByExampleForOne" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_notice_rel_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByExample" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_notice_rel_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>

  <select id="selectOneWorker" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT a.*,b.dataid AS relWorkerId FROM hrg_notice a INNER JOIN hrg_notice_rel_worker b ON (a.dataid=b.noticeid AND b.isread=#{isRead}) WHERE b.workerid=#{workerId} ORDER BY time DESC LIMIT 1;
  </select>
</mapper>