<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.read.WorkerRolePermissionReadMapper" >
  <resultMap id="BaseResultMap" type="com.hrg.model.WorkerRolePermission" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="parentroleid" property="parentroleid" jdbcType="VARCHAR" />
    <result column="permissionid" property="permissionid" jdbcType="VARCHAR" />
    <result column="permissioncode" property="permissioncode" jdbcType="VARCHAR" />
    <result column="permissionurl" property="permissionurl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="HashMapBaseResultMap" type="hashmap" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="parentroleid" property="parentroleid" jdbcType="VARCHAR" />
    <result column="permissionid" property="permissionid" jdbcType="VARCHAR" />
    <result column="permissioncode" property="permissioncode" jdbcType="VARCHAR" />
    <result column="permissionurl" property="permissionurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.roleid != null" >
         and roleid = #{example.roleid,jdbcType=VARCHAR}
      </if>
      <if test="example.roleidList != null  and  example.roleidList.size() > 0 " >
         and roleid in 
        <foreach collection="example.roleidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.parentroleid != null" >
         and parentroleid = #{example.parentroleid,jdbcType=VARCHAR}
      </if>
      <if test="example.parentroleidList != null  and  example.parentroleidList.size() > 0 " >
         and parentroleid in 
        <foreach collection="example.parentroleidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionid != null" >
         and permissionid = #{example.permissionid,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionidList != null  and  example.permissionidList.size() > 0 " >
         and permissionid in 
        <foreach collection="example.permissionidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissioncode != null" >
         and permissioncode = #{example.permissioncode,jdbcType=VARCHAR}
      </if>
      <if test="example.permissioncodeList != null  and  example.permissioncodeList.size() > 0 " >
         and permissioncode in 
        <foreach collection="example.permissioncodeList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.permissionurl != null" >
         and permissionurl = #{example.permissionurl,jdbcType=VARCHAR}
      </if>
      <if test="example.permissionurlList != null  and  example.permissionurlList.size() > 0 " >
         and permissionurl in 
        <foreach collection="example.permissionurlList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dataid, roleid, parentroleid, permissionid, permissioncode, permissionurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker_role_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from hrg_worker_role_permission
    where dataid = #{dataid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from hrg_worker_role_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker_role_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByPrimaryKey" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hrg_worker_role_permission
    <where >
       and dataid=#{dataid,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectMapByExampleForOne" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker_role_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByExample" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker_role_permission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
</mapper>