<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hrg.javamapper.read.WorkerReadMapper" >
  <resultMap id="BaseResultMap" type="com.hrg.model.Worker" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="departmentdataid" property="departmentdataid" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="HashMapBaseResultMap" type="hashmap" >
    <id column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="departmentdataid" property="departmentdataid" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="example.dataid != null" >
         and dataid = #{example.dataid,jdbcType=VARCHAR}
      </if>
      <if test="example.dataidList != null  and  example.dataidList.size() > 0 " >
         and dataid in 
        <foreach collection="example.dataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.name != null" >
         and name = #{example.name,jdbcType=VARCHAR}
      </if>
      <if test="example.nameList != null  and  example.nameList.size() > 0 " >
         and name in 
        <foreach collection="example.nameList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.phone != null" >
         and phone = #{example.phone,jdbcType=VARCHAR}
      </if>
      <if test="example.phoneList != null  and  example.phoneList.size() > 0 " >
         and phone in 
        <foreach collection="example.phoneList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.department != null" >
         and department = #{example.department,jdbcType=VARCHAR}
      </if>
      <if test="example.departmentList != null  and  example.departmentList.size() > 0 " >
         and department in 
        <foreach collection="example.departmentList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.remark != null" >
         and remark = #{example.remark,jdbcType=VARCHAR}
      </if>
      <if test="example.remarkList != null  and  example.remarkList.size() > 0 " >
         and remark in 
        <foreach collection="example.remarkList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.account != null" >
         and account = #{example.account,jdbcType=VARCHAR}
      </if>
      <if test="example.accountList != null  and  example.accountList.size() > 0 " >
         and account in 
        <foreach collection="example.accountList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.password != null" >
         and password = #{example.password,jdbcType=VARCHAR}
      </if>
      <if test="example.passwordList != null  and  example.passwordList.size() > 0 " >
         and password in 
        <foreach collection="example.passwordList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.departmentdataid != null" >
         and departmentdataid = #{example.departmentdataid,jdbcType=VARCHAR}
      </if>
      <if test="example.departmentdataidList != null  and  example.departmentdataidList.size() > 0 " >
         and departmentdataid in 
        <foreach collection="example.departmentdataidList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.state != null" >
         and state = #{example.state,jdbcType=VARCHAR}
      </if>
      <if test="example.stateList != null  and  example.stateList.size() > 0 " >
         and state in 
        <foreach collection="example.stateList" item="listItem" open="(" close=")" separator="," >
          #{listItem}
        </foreach>
      </if>
      <if test="example.createtime != null" >
         and createtime = #{example.createtime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dataid, name, phone, department, remark, account, password, departmentdataid, state, 
    createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
    WHERE dataid !=1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from hrg_worker
    where dataid = #{dataid,jdbcType=VARCHAR}
  </select>
  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from hrg_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByPrimaryKey" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from hrg_worker
    <where >
       and dataid=#{dataid,jdbcType=VARCHAR}
    </where>
  </select>
  <select id="selectMapByExampleForOne" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
     limit 0 , 1 
  </select>
  <select id="selectMapByExample" resultMap="HashMapBaseResultMap" parameterType="map" >
    select
    <if test="example.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hrg_worker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      order by ${example.orderByClause}
    </if>
    <if test="example.limitStart >= 0 and example.pageSize > 0 " >
      limit #{example.limitStart} , #{example.pageSize}
    </if>
  </select>
</mapper>